<style>
  .table-border {
    border: 1px solid black;
    border-collapse: collapse;
  }

  table {
    width: 100%;
  }

  h5 {
    margin: 20px 0 5px 5px;
  }

  .page_break {
    page-break-after: always;
  }
</style>

<htmlpagefooter name="footer">
  <table>
    <tr>
      <td width="33%"></td>
      <td width="33%" style="text-align: center;">{PAGENO}/{nbpg}</td>
      <td width="33%" style="text-align: right;">Дата создания: {DATE j.m.Y H:i:s}</td>
    </tr>
  </table>
</htmlpagefooter>
<sethtmlpagefooter name="footer" value="on" />

{# @var subdivision \App\Entity\Subdivision #}
{% for subdivision in subdivisions %}
  <htmlpageheader name="header_{{ subdivision }}">
    <div style="text-align: center"><h4>{{ subdivision }}</h4></div>
  </htmlpageheader>
  <sethtmlpageheader name="header_{{ subdivision }}" value="on" show-this-page="1" />

  {# @var department \App\Entity\Department #}
  {% for department in subdivision.departments %}
    {% if department.phones is not empty %}
      <h5>{{ department }}</h5>
      <table class="table-border">
        <thead>
          <tr>
            <th class="table-border">{% trans %}table.employee{% endtrans %}</th>
            <th class="table-border" style="width: 25%" >{% trans %}table.phone{% endtrans %}</th>
          </tr>
        </thead>
        <tbody>
        {# @var phone \App\Entity\Phone #}
        {% for phone in department.phones %}
          <tr>
            <td class="table-border">
              <table>
                <tbody>
                  {# @var empoyee \App\Entity\Employee #}
                  {% for employee in phone.employees %}
                    <tr>
                      <td>
                        {% if employee.position %}<span style="font-size: 0.80rem">{{ employee.position }}</span> {% endif %}{{ employee }}
                        {% if employee.cellphoneNumbers %}
                          <br>({% trans %}table.cellphone_numbers{% endtrans %}:
                          {% for cellphoneNumber in employee.cellphoneNumbers %}
                            {{ cellphoneNumber|phoneNumber -}}
                            {% if not loop.last %}, {% endif %}
                          {%- endfor %})
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  {% if phone.cabinets %}
                    <tr>
                      <td>{{ phone.cabinets|join(', ')|capitalize }}</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </td>
            <td class="table-border" style="padding: 10px;">
              {% if phone.phoneNumber %}{{ phone.phoneNumber|phoneNumber }}{% endif -%}
              {% if phone.alternateNumber %}, {{ phone.alternateNumber|phoneNumber }}{% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endfor %}
  {% if loop.last == false %}
    <div class="page_break"></div>
  {% endif %}
{% endfor %}
