{% for subdivision in subdivisions|filter(v => v.departments is not empty) -%}
  <p class="h3 subdivision-title">Subdivision: {{ subdivision }}</p>
  {% for department in subdivision.departments %}
    <h5>Department: {{ department }}</h5>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th style="width: 30%" scope="col">Phone</th>
        <th scope="col">Employee</th>
      </tr>
      </thead>
      <tbody>
      {% for phone in department.phones %}
        <tr>
          <td>{{ phone }}{% if phone.cabinets %} ({% trans %}field.cabinets{% endtrans %}: {{ phone.cabinets|join(', ') }}){% endif %}</td>
          <td>
            <ul class="list-unstyled list-group">
              {% for employee in phone.employees %}
                <li>{{ employee }}{% if employee.cellphoneNumbers %} ({% trans %}field.cellphone_numbers{% endtrans %}: {{ employee.cellphoneNumbers|join(', ') }}){% endif %}</li>
              {% else %}
                <li>Не найдено</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endfor %}
