{% for subdivision in subdivisions|filter(v => v.departments is not empty) -%}
  <p class="h3 subdivision-title">Subdivision: {{ subdivision }}</p>
  {% for department in subdivision.departments if department.phones is not empty %}
    <h5>Department: {{ department }}</h5>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">Employee</th>
        <th style="width: 30%" scope="col">Phone</th>
      </tr>
      </thead>
      <tbody>
      {% for phone in department.phones %}
        <tr>
          <td>
            <ul class="list-unstyled list-group list-employee">
              {% for employee in phone.employees %}
                <li>
                  <ul class="list-unstyled list-group">
                    <li><span style="font-size: 0.80rem">{{ employee.position }}</span> {{ employee }}</li>
                    {% if employee.cellphoneNumbers %}
                      <li>
                        ({% trans %}field.cellphone_numbers{% endtrans %}:
                        {% for cellphoneNumber in employee.cellphoneNumbers %}
                          {{ cellphoneNumber|phoneNumber -}}
                          {% if not loop.last %}, {% endif %}
                        {%- endfor %})
                      </li>
                    {% endif %}
                  </ul>
                </li>
              {% else %}
                <li>Не найдено</li>
              {% endfor %}
            </ul>
          </td>
          <td>
            <ul class="list-unstyled list-group">
              <li>
                {{ phone.phoneNumber|phoneNumber }}
                {% if phone.alternateNumber %}
                  <span> ({{ phone.alternateNumber }})</span>
                {% endif %}
              </li>
              {% if phone.cabinets %}
                <li><span style="font-size: 0.85rem">{% trans %}field.cabinets{% endtrans %}: {{ phone.cabinets|join(', ') }}</span></li>
              {% endif %}
            </ul>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endfor %}
