{% for subdivision in subdivisions|filter(v => v.departments is not empty) -%}
  <p class="h3 subdivision-title">Subdivision: {{ subdivision }}</p>
  {% for department in subdivision.departments if department.phones is not empty %}
    <h5>Department: {{ department }}</h5>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">Employee</th>
        <th style="width: 30%" scope="col">Phone</th>
      </tr>
      </thead>
      <tbody>
      {% for phone in department.phones %}
        <tr>
          <td>
            <ul class="list-unstyled list-group">
              {% for employee in phone.employees %}
                <li>{{ employee }}{% if employee.cellphoneNumbers %} ({% trans %}field.cellphone_numbers{% endtrans %}: {{ employee.cellphoneNumbers|join(', ') }}){% endif %}</li>
              {% else %}
                <li>Не найдено</li>
              {% endfor %}
            </ul>
          </td>
          <td>
            {%- if phone|length == 6 -%}
              {{ phone|split('', 2)|join('-') }}
            {%- else -%}
              {{ phone }}
            {%- endif -%}
            {%- if phone.cabinets -%}
              <span style="font-size: 0.85rem"> ({% trans %}field.cabinets{% endtrans %}: {{ phone.cabinets|join(', ') }})</span>
            {%- endif -%}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endfor %}
